head {
	background-image: url(wheatley.jpg);
	background-repeat: repeat;
}

body {
	background-image: url(gifs/cityNight.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color: black;
	background-size: 100%;
	/*background-size: max-height 100%;*/
}

.girl img {
	position: fixed;
	bottom: 0px;
	left: -400px;
	animation-duration: 10s;
	animation-name: toTheRight;
	animation-iteration-count: 1;
}

@keyframes toTheRight {
	from {
		transform: translate(0,0);	
	}
	
	to {
		transform: translate(800%,100%);
	}
}

.elmo img {
	position: fixed;
	bottom: -75px;
	right: 0px;
	animation-duration: 4s;
	animation-name: downUnder;
	animation-iteration-count: 2;
}

@keyframes downUnder {
	from {
		transform: translate(0,50%);	
	}
	
	to {
		transform: translate(0,0);
	}
}

.llama img {
	position: fixed;
	top: 50px;
	right: 50px;
	animation-duration: 0.44s;
	animation-name: wee;
	animation-iteration-count: infinite;
}

@keyframes wee {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

.bulb img {
	position: fixed;
	bottom: 100px;
	right: 155px;
}

.kreditKitten img {
	position: fixed;
	top: -280px;
	left: 500px;
}