.bacon img {
	position: absolute;
	top: 0;
	left: 0;
}

body {
	background-image: url(gifs/sesameStreet.gif);
	background-repeat: repeat;
	/*background-attachment: fixed;*/
	/*background-position: center center;*/
	/*background-color: black;*/
	/*background-size: cover;*/
	/*background-size: max-height 100%;*/
	}