body {
	background-image: url(highway.jpg);
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: 100%;
}

.girl img {
	position: fixed;
	bottom: 0px;
	left: -400px;
	animation-duration: 10s;
	animation-name: toTheRight;
	animation-iteration-count: 1;
}

.bacon img {
	position: absolute;
	top: 0;
	left: 0;
}

.bert1 img {
	position: absolute;
	top: 0;
	left: 0;
}

.bert2 img {
	position: absolute;
	bottom: 0;
	left: 0;
}

.bert3 img {
	position: absolute;
	top: 0;
	right: 0;
}

.bert4 img {
	position: absolute;
	bottom: 0;
	right: 0;
}

@keyframes toTheRight {
	from {
		transform: translate(0,0);	
	}
	
	to {
		transform: translate(800%,100%);
	}
}